<!DOCTYPE html>
<html>
<head>
    <meta  charset="utf-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet"  href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    {% block css%}
    {% endblock %}
</head>
<body style="background-color:RGB(152,197,233); padding-top: 60px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid"> 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">FIFAonline曼城战队</a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/schedule">赛程 <span class="sr-only"></span></a></li> 
              <li><a href="/game_add">比赛登记<span class="sr-only"></span></a></li> 
              <li><a href="/participant_add">添加选手<span class="sr-only"></span></a></li>
              <li><a href="/test">测试<span class="sr-only"></span></a></li> 
              <li><a href="/participant_information/?pid={{request.session.info.id}}">个人中心<span class="sr-only"></span></a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">登录</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.info.username}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">个人信息</a></li>
                  <li><a href="#">消息</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout/">注销</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div>
      {% block content %}
      {% endblock %}
    </div>


    
<script src="/static\js\jquery-3.6.0.min.js"></script>
<script src="/static\plugins\bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
{% block js%}{% endblock %}
</body>
</html>
