{% extends "layout.html" %}

{%block content%}



<div class="container">
  <div class="panel panel-default">

        <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          积分榜(点击id查看选手详情)
        </div>

        <ul class="nav nav-tabs ">
          <li class="active"><a href="#total" aria-controls="total" role="tab" data-toggle="tab">总榜</a></li>
          <li><a href="#club" aria-controls="club" role="tab" data-toggle="tab">队套榜</a></li>
          <li><a href="#legend" aria-controls="legend" role="tab" data-toggle="tab">传奇榜</a></li>
        </ul>
        
        <div class="panel-body">

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="total">
              <div class="bs-example" data-example-id="simple-table">
                <table class="table table-boarderd table-hover">
                  
                  <thead>
                    <tr>
                      <th>排名</th>
                      <th>赛</th>
                      <th>胜</th>
                      <th>平</th>
                      <th>负</th>
                      <th>进/失</th>
                      <th>积分</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in players%}
                    <tr>
                      <td><a href="/participant_detail/?pid={{item.participant_id}}">{{item.current_rank}} {{item.participant.name}}</a></td>
                      <td>{{item.games}}</td>
                      <td>{{item.wins}}</td>
                      <td>{{item.draws}}</td>
                      <td>{{item.losts}}</td>
                      <td>{{item.goals}}/{{item.goals_conceded}}</td>
                      <td>{{item.points}}</td> 
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="club">
              <div class="bs-example" data-example-id="simple-table">
                <table class="table table-boarderd table-hover">
                  
                  <thead>
                    <tr>
                      <th>排名</th>
                      <th>赛</th>
                      <th>胜</th>
                      <th>平</th>
                      <th>负</th>
                      <th>进/失</th>
                      <th>积分</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in club_players%}
                    <tr>
                      <td><a href="/participant_detail/?pid={{item.1.participant_id}}">{{item.0}} {{item.1.participant.name}}</a></td>
                      <td>{{item.1.games}}</td>
                      <td>{{item.1.wins}}</td>
                      <td>{{item.1.draws}}</td>
                      <td>{{item.1.losts}}</td>
                      <td>{{item.1.goals}}/{{item.1.goals_conceded}}</td>
                      <td>{{item.1.points}}</td> 
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            
              <div role="tabpanel" class="tab-pane fade" id="legend">
                <div class="bs-example" data-example-id="simple-table">
                  <table class="table table-boarderd table-hover">
                    
                    <thead>
                      <tr>
                        <th>排名</th>
                        <th>赛</th>
                        <th>胜</th>
                        <th>平</th>
                        <th>负</th>
                        <th>进/失</th>
                        <th>积分</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in legend_players%}
                      <tr>
                        <td><a href="/participant_detail/?pid={{item.1.participant_id}}">{{item.0}} {{item.1.participant.name}}</a></td>
                        <td>{{item.1.games}}</td>
                        <td>{{item.1.wins}}</td>
                        <td>{{item.1.draws}}</td>
                        <td>{{item.1.losts}}</td>
                        <td>{{item.1.goals}}/{{item.1.goals_conceded}}</td>
                        <td>{{item.1.points}}</td> 
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
  
        </div>  
  </div>
</div>


{%endblock%}

